
#header-nav {
    background-color: #cfc6a7;
    border-radius: 0;
    border: 0;
  }
  
  .navbar-brand {
    margin: 10px;
    padding-top: 15px;
  }
  
  .navbar-brand h1 { /* Restaurant name */
    color:black;
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .navbar-brand span{
    text-transform: uppercase;
    font-size: 1.3em;
  }
  
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
    background-color: #cfc6a7;
  }
  
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -50px;
  }
  
  #nav-list {
    background-color: #fff;
    margin-top: 10px;
  }
  #nav-list a {
    color: black;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  
  #nav-list li {
    border: black;
  }
  
    /* Header */


    .navbar-brand p img { /* Star-K */
      height: 20px;
    }
  
    #collapsable-nav a { /* Collapsed nav menu text */
      font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
      font-size: 1em;
      margin-right: 5px;
    }
  
    #call-btn > a {
      font-size: 1.5em;
      display: block;
      margin: 0 20px;
      padding: 10px;
      border: 2px solid #fff;
      background-color: white;
      color: white;
    }
    #xs-deliver {
      margin-top: 5px;
      font-size: .7em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
 